<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Context Aware 2024{% endblock %}</title>
    <!-- Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    <!-- Leaflet CSS CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <!-- Leaflet Draw CSS CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body class="bg-gray-700 flex flex-col h-screen">

    <!-- Navbar -->
    <nav class="w-full bg-gray-800 p-4 sticky top-0 z-50 flex items-center">
        <div class="flex-1 flex justify-between items-center">
            <a href="/" class="text-white text-xl font-bold">Context Aware 2024</a>
            <div class="flex space-x-4">
                <button id="menuButton" class="text-white text-xl font-bold">Menu</button>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div id="mainContent" class="flex flex-1 overflow-hidden transition-all duration-300 ease-in-out">
        <!-- Sidebar -->
        <div id="sidebar" class="fixed inset-y-0 right-0 bg-gray-800 z-40 transform transition-transform duration-300 ease-in-out">
            <div class="w-full h-full bg-gray-900 text-white p-4">
                <button id="closeSidebar" class="text-white text-xl mb-4">Close</button>
                <ul>
                    {% block sidebar %}
                    <li><a href="{{ url_for('views.get_home') }}" class="block py-2 px-4 hover:bg-gray-700">Home</a></li>
                    <li><a href="{{ url_for('views.test') }}" class="block py-2 px-4 hover:bg-gray-700">Test</a></li>
                    <li><a href="{{ url_for('views.get_quest') }}" class="block py-2 px-4 hover:bg-gray-700">Questionario</a></li>
                    <li><a href="/admin" class="block py-2 px-4 hover:bg-gray-700">Admin</a></li>
                    {% endblock %}
                </ul>
            </div>
        </div>

        <!-- Content Area -->
        <div class="flex-1 p-4">
            {% block content %}
            <!-- Contenuto della pagina personalizzabile -->
            {% endblock %}
        </div>
    </div>

    <!-- Caricamento degli script JS necessari -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js" defer></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
    <script src="script.js"></script>
</body>
</html>
